<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>bullets</key>
	<array>
     
     <dict><key>type</key><string>0</string><key>level</key><string>1</string><key>imagename</key><string>proy_archbolt_0001.png</string><key>force</key><string>80</string><key>scope</key><string>0</string><key>speed</key><string>600</string><key>isarea</key><string>0</string><key>issoldier</key><string>1</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>1</string><key>level</key><string>1</string><key>imagename</key><string>arrow.png</string><key>force</key><string>8</string><key>scope</key><string>0</string><key>speed</key><string>300</string><key>isarea</key><string>0</string><key>issoldier</key><string>1</string><key>istower</key><string>0</string></dict>
     <dict><key>type</key><string>1</string><key>level</key><string>2</string><key>imagename</key><string>arrow.png</string><key>force</key><string>12</string><key>scope</key><string>0</string><key>speed</key><string>400</string><key>isarea</key><string>0</string><key>issoldier</key><string>1</string><key>istower</key><string>0</string></dict>
     <dict><key>type</key><string>1</string><key>level</key><string>3</string><key>imagename</key><string>arrow.png</string><key>force</key><string>16</string><key>scope</key><string>0</string><key>speed</key><string>500</string><key>isarea</key><string>0</string><key>issoldier</key><string>1</string><key>istower</key><string>0</string></dict>
     <dict><key>type</key><string>1</string><key>level</key><string>4</string><key>imagename</key><string>arrow.png</string><key>force</key><string>20</string><key>scope</key><string>0</string><key>speed</key><string>500</string><key>isarea</key><string>0</string><key>issoldier</key><string>1</string><key>istower</key><string>0</string></dict>
     <dict><key>type</key><string>2</string><key>level</key><string>1</string><key>imagename</key><string>bombs_0001.png</string><key>force</key><string>20</string><key>scope</key><string>50</string><key>speed</key><string>200</string><key>isarea</key><string>1</string><key>issoldier</key><string>1</string><key>istower</key><string>0</string></dict>
     <dict><key>type</key><string>2</string><key>level</key><string>2</string><key>imagename</key><string>bombs_0002.png</string><key>force</key><string>30</string><key>scope</key><string>50</string><key>speed</key><string>300</string><key>isarea</key><string>1</string><key>issoldier</key><string>1</string><key>istower</key><string>0</string></dict>
     <dict><key>type</key><string>2</string><key>level</key><string>3</string><key>imagename</key><string>bombs_0003.png</string><key>force</key><string>40</string><key>scope</key><string>50</string><key>speed</key><string>400</string><key>isarea</key><string>1</string><key>issoldier</key><string>1</string><key>istower</key><string>0</string></dict>
     <dict><key>type</key><string>2</string><key>level</key><string>4</string><key>imagename</key><string>bombs_0006.png</string><key>force</key><string>50</string><key>scope</key><string>50</string><key>speed</key><string>400</string><key>isarea</key><string>1</string><key>issoldier</key><string>1</string><key>istower</key><string>0</string></dict>
     <dict><key>type</key><string>3</string><key>level</key><string>1</string><key>imagename</key><string>EarthquakeTower_drill_0001.png</string><key>force</key><string>100</string><key>scope</key><string>0</string><key>speed</key><string>200</string><key>isarea</key><string>1</string><key>issoldier</key><string>1</string><key>istower</key><string>0</string></dict>
     <dict><key>type</key><string>4</string><key>level</key><string>1</string><key>imagename</key><string>dynamite.png</string><key>force</key><string>500</string><key>scope</key><string>50</string><key>speed</key><string>200</string><key>isarea</key><string>1</string><key>issoldier</key><string>1</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>5</string><key>level</key><string>1</string><key>imagename</key><string>fireball_proyectile_0001.png</string><key>force</key><string>500</string><key>scope</key><string>30</string><key>speed</key><string>200</string><key>isarea</key><string>1</string><key>issoldier</key><string>0</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>6</string><key>level</key><string>1</string><key>imagename</key><string>small_freeze_bomb.png</string><key>force</key><string>0</string><key>scope</key><string>100</string><key>speed</key><string>200</string><key>isarea</key><string>1</string><key>issoldier</key><string>1</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>7</string><key>level</key><string>1</string><key>imagename</key><string>EarthquakeTower_Lava.png</string><key>force</key><string>0</string><key>scope</key><string>2</string><key>speed</key><string>200</string><key>isarea</key><string>1</string><key>issoldier</key><string>1</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>8</string><key>level</key><string>1</string><key>imagename</key><string>magebolt_0001.png</string><key>force</key><string>15</string><key>scope</key><string>0</string><key>speed</key><string>400</string><key>isarea</key><string>0</string><key>issoldier</key><string>0</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>8</string><key>level</key><string>2</string><key>imagename</key><string>magebolt_0001.png</string><key>force</key><string>30</string><key>scope</key><string>0</string><key>speed</key><string>500</string><key>isarea</key><string>0</string><key>issoldier</key><string>0</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>8</string><key>level</key><string>3</string><key>imagename</key><string>magebolt_0001.png</string><key>force</key><string>60</string><key>scope</key><string>0</string><key>speed</key><string>600</string><key>isarea</key><string>0</string><key>issoldier</key><string>0</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>9</string><key>level</key><string>1</string><key>imagename</key><string>Bombs_0006.png</string><key>force</key><string>20</string><key>scope</key><string>50</string><key>speed</key><string>200</string><key>isarea</key><string>1</string><key>issoldier</key><string>1</string><key>istower</key><string>0</string></dict>
     <dict><key>type</key><string>10</string><key>level</key><string>1</string><key>imagename</key><string>mech_missile_0001.png</string><key>force</key><string>100</string><key>scope</key><string>400</string><key>speed</key><string>500</string><key>isarea</key><string>1</string><key>issoldier</key><string>1</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>11</string><key>level</key><string>1</string><key>imagename</key><string>necromancer_bolt_0001.png</string><key>force</key><string>80</string><key>scope</key><string>0</string><key>speed</key><string>600</string><key>isarea</key><string>0</string><key>issoldier</key><string>0</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>12</string><key>level</key><string>1</string><key>imagename</key><string>TotemTower_RedTotem_0001.png</string><key>force</key><string>100</string><key>scope</key><string>80</string><key>speed</key><string>200</string><key>isarea</key><string>1</string><key>issoldier</key><string>0</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>13</string><key>level</key><string>1</string><key>imagename</key><string>Mecha_Shit.png</string><key>force</key><string>0</string><key>scope</key><string>100</string><key>speed</key><string>200</string><key>isarea</key><string>1</string><key>issoldier</key><string>0</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>14</string><key>level</key><string>1</string><key>imagename</key><string>TotemAxe_0001.png</string><key>force</key><string>24</string><key>scope</key><string>0</string><key>speed</key><string>500</string><key>isarea</key><string>0</string><key>issoldier</key><string>0</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>15</string><key>level</key><string>1</string><key>imagename</key><string>ArchMageTwister_0001.png</string><key>force</key><string>50</string><key>scope</key><string>500</string><key>speed</key><string>200</string><key>isarea</key><string>0</string><key>issoldier</key><string>0</string><key>istower</key><string>1</string></dict>
     <dict><key>type</key><string>16</string><key>level</key><string>1</string><key>imagename</key><string>TotemTower_VioletTotem_0001.png</string><key>force</key><string>0</string><key>scope</key><string>50</string><key>speed</key><string>500</string><key>isarea</key><string>1</string><key>issoldier</key><string>1</string><key>istower</key><string>0</string></dict>
     
	</array>
</dict>
</plist>