<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>spriteframefiles</key>
	<array>
		<dict><key>id</key><string>0</string><key>file</key><string>sprite_level12-hd.plist</string></dict>
		<dict><key>id</key><string>1</string><key>file</key><string>sprite_level12_2-hd.plist</string></dict>

	</array>
</dict>
</plist>
