<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ornaments</key>
	<array>
				<dict>
					<key>id</key>
					<string>0</string>
					<key>type</key>
					<string>0</string>
					<key>imagename</key>
					<string>Stage10_Dark.png</string>
					<key>x</key>
					<string>635</string>
					<key>y</key>
					<string>880</string>
				</dict>


				<dict>
					<key>id</key>
					<string>1</string>
					<key>type</key>
					<string>3</string>
					<key>imagename</key>
					<string>Stage10_Tower_0001.png</string>
					<key>x</key>
					<string>635</string>
					<key>y</key>
					<string>510</string>
					<key>animation</key>
					<array>
						<dict>
							<key>wavenumber</key>
							<string>0</string>
							<key>from</key>
							<string>1</string>
							<key>to</key>
							<string>31</string>
							<key>animationimagename</key>
							<string>Stage10_Tower_00%02d.png</string>
							<key>delay</key>
							<string>0.04f</string>
						</dict>
					</array>
				</dict>


	</array>
</dict>
</plist>
