<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>terrains</key>
	<array>
				<dict>
					<key>id</key>
					<string>0</string>
					<key>type</key>
					<string>1</string>
					<key>x</key>
					<string>320</string>
					<key>y</key>
					<string>340</string>
				</dict>
				<dict>
					<key>id</key>
					<string>0</string>
					<key>type</key>
					<string>1</string>
					<key>x</key>
					<string>320</string>
					<key>y</key>
					<string>690</string>
				</dict>
				<dict>
					<key>id</key>
					<string>1</string>
					<key>type</key>
					<string>1</string>
					<key>x</key>
					<string>475</string>
					<key>y</key>
					<string>530</string>
				</dict>
				<dict>
					<key>id</key>
					<string>2</string>
					<key>type</key>
					<string>1</string>
					<key>x</key>
					<string>520</string>
					<key>y</key>
					<string>445</string>
				</dict>
				<dict>
					<key>id</key>
					<string>3</string>
					<key>type</key>
					<string>1</string>
					<key>x</key>
					<string>520</string>
					<key>y</key>
					<string>610</string>
				</dict>
				<dict>
					<key>id</key>
					<string>4</string>
					<key>type</key>
					<string>1</string>
					<key>x</key>
					<string>600</string>
					<key>y</key>
					<string>780</string>
				</dict>
				<dict>
					<key>id</key>
					<string>5</string>
					<key>type</key>
					<string>1</string>
					<key>x</key>
					<string>600</string>
					<key>y</key>
					<string>270</string>
				</dict>
				<dict>
					<key>id</key>
					<string>6</string>
					<key>type</key>
					<string>1</string>
					<key>x</key>
					<string>675</string>
					<key>y</key>
					<string>610</string>
				</dict>
				<dict>
					<key>id</key>
					<string>7</string>
					<key>type</key>
					<string>1</string>
					<key>x</key>
					<string>675</string>
					<key>y</key>
					<string>445</string>
				</dict>
				<dict>
					<key>id</key>
					<string>8</string>
					<key>type</key>
					<string>1</string>
					<key>x</key>
					<string>720</string>
					<key>y</key>
					<string>530</string>
				</dict>

	</array>
</dict>
</plist>
