<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ornaments</key>
	<array>
				<dict>
					<key>id</key>
					<string>0</string>
					<key>type</key>
					<string>0</string>
					<key>imagename</key>
					<string>Stage4_OverShip.png</string>
					<key>x</key>
					<string>825</string>
					<key>y</key>
					<string>865</string>
				</dict>
				<dict>
					<key>id</key>
					<string>1</string>
					<key>type</key>
					<string>3</string>
					<key>imagename</key>
					<string>Stage4_ShipDoor_0001.png</string>
					<key>x</key>
					<string>730</string>
					<key>y</key>
					<string>820</string>
					<key>animation</key>
					<array>
						<dict>
							<key>wavenumber</key>
							<string>0</string>
							<key>from</key>
							<string>1</string>
							<key>to</key>
							<string>9</string>
							<key>animationimagename</key>
							<string>Stage4_ShipDoor_00%02d.png</string>
							<key>delay</key>
							<string>0.1f</string>
						</dict>
					</array>
				</dict>

				<dict>
					<key>id</key>
					<string>2</string>
					<key>type</key>
					<string>1</string>
					<key>imagename</key>
					<string>Stage4_Trees_Terrains_000%d.png</string>
					<key>from</key>
					<string>1</string>
					<key>to</key>
					<string>4</string>
					<key>points</key>
					<array>
							<dict>
								<key>x</key>
								<string>985</string>
								<key>y</key>
								<string>530</string>
							</dict>
							<dict>
								<key>x</key>
								<string>730</string>
								<key>y</key>
								<string>820</string>
							</dict>
							<dict>
								<key>x</key>
								<string>730</string>
								<key>y</key>
								<string>820</string>
							</dict>
							<dict>
								<key>x</key>
								<string>730</string>
								<key>y</key>
								<string>820</string>
							</dict>
					</array>
				</dict>


				<dict>
					<key>id</key>
					<string>3</string>
					<key>type</key>
					<string>2</string>
					<key>imagename</key>
					<string>Stage4_Trees_0001.png</string>
					<key>points</key>
					<array>
							<dict>
								<key>x</key>
								<string>1060</string>
								<key>y</key>
								<string>590</string>
							</dict>
							<dict>
								<key>x</key>
								<string>1140</string>
								<key>y</key>
								<string>590</string>
							</dict>
							<dict>
								<key>x</key>
								<string>920</string>
								<key>y</key>
								<string>620</string>
							</dict>
							<dict>
								<key>x</key>
								<string>990</string>
								<key>y</key>
								<string>590</string>
							</dict>
							<dict>
								<key>x</key>
								<string>960</string>
								<key>y</key>
								<string>590</string>
							</dict>
							<dict>
								<key>x</key>
								<string>960</string>
								<key>y</key>
								<string>550</string>
							</dict>
							<dict>
								<key>x</key>
								<string>860</string>
								<key>y</key>
								<string>525</string>
							</dict>
					</array>
				</dict>


	</array>
</dict>
</plist>
