<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animation</key>
	<array>


<dict><key>imagename</key><string>wasp_hornet_0%003d.png</string><key>from</key><string>43</string><key>to</key><string>52</string><key>delay</key><string>0.1f</string><key>animationname</key><string>WaspHornet_death</string></dict>
<dict><key>imagename</key><string>wasp_hornet_0%003d.png</string><key>from</key><string>15</string><key>to</key><string>29</string><key>delay</key><string>0.04f</string><key>animationname</key><string>WaspHornet_runup</string></dict>
<dict><key>imagename</key><string>wasp_hornet_0%003d.png</string><key>from</key><string>30</string><key>to</key><string>42</string><key>delay</key><string>0.04f</string><key>animationname</key><string>WaspHornet_rundown</string></dict>
<dict><key>imagename</key><string>wasp_hornet_0%003d.png</string><key>from</key><string>1</string><key>to</key><string>14</string><key>delay</key><string>0.04f</string><key>animationname</key><string>WaspHornet_runleft</string></dict>
<dict><key>imagename</key><string>wasp_hornet_0%003d.png</string><key>from</key><string>1</string><key>to</key><string>14</string><key>delay</key><string>0.04f</string><key>animationname</key><string>WaspHornet_runright</string></dict>

	</array>
</dict>
</plist>
