<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>monsters</key>
	<array>


<dict><key>type</key><string>0</string><key>name</key><string>Thug_</string><key>baseimage</key><string>desertThug_0001.png</string><key>maxhp</key><string>35</string><key>money</key><string>10</string><key>force</key><string>8</string><key>armor</key><string>0</string><key>speed</key><string>40</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0027.png</string><key>portraitsname</key><string>Thug</string></dict>
<dict><key>type</key><string>1</string><key>name</key><string>Raider_</string><key>baseimage</key><string>desertRaider_0001.png</string><key>maxhp</key><string>160</string><key>money</key><string>30</string><key>force</key><string>10</string><key>armor</key><string>8</string><key>speed</key><string>40</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0028.png</string><key>portraitsname</key><string>Raider</string></dict>
<dict><key>type</key><string>2</string><key>name</key><string>Wolf_</string><key>baseimage</key><string>desertWolf_0001.png</string><key>maxhp</key><string>35</string><key>money</key><string>20</string><key>force</key><string>2</string><key>armor</key><string>0</string><key>speed</key><string>100</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0034.png</string><key>portraitsname</key><string>Wolf</string></dict>
<dict><key>type</key><string>3</string><key>name</key><string>Immortal_</string><key>baseimage</key><string>desertImmortal_0001.png</string><key>maxhp</key><string>290</string><key>money</key><string>100</string><key>force</key><string>30</string><key>armor</key><string>10</string><key>speed</key><string>40</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>1</string><key>childrentype</key><string>4</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0028.png</string><key>portraitsname</key><string>Immortal</string></dict>
<dict><key>type</key><string>4</string><key>name</key><string>Fallen_</string><key>baseimage</key><string>fallen_0001.png</string><key>maxhp</key><string>100</string><key>money</key><string>30</string><key>force</key><string>0</string><key>armor</key><string>0</string><key>speed</key><string>30</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0055.png</string><key>portraitsname</key><string>Fallen</string></dict>
<dict><key>type</key><string>5</string><key>name</key><string>WaspHornet_</string><key>baseimage</key><string>wasp_hornet_0001.png</string><key>maxhp</key><string>70</string><key>money</key><string>30</string><key>force</key><string>0</string><key>armor</key><string>10</string><key>speed</key><string>50</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>FALSE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>1</string><key>portraitsimagename</key><string>portraits_sc_0037.png</string><key>portraitsname</key><string>WaspHornet</string></dict>
<dict><key>type</key><string>6</string><key>name</key><string>WaspQueen_</string><key>baseimage</key><string>wasp_queen_0001.png</string><key>maxhp</key><string>320</string><key>money</key><string>50</string><key>force</key><string>0</string><key>armor</key><string>10</string><key>speed</key><string>30</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>FALSE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>1</string><key>portraitsimagename</key><string>portraits_sc_0038.png</string><key>portraitsname</key><string>WaspQueen</string></dict>
<dict><key>type</key><string>7</string><key>name</key><string>Scorpion_</string><key>baseimage</key><string>scorpion_0001.png</string><key>maxhp</key><string>400</string><key>money</key><string>100</string><key>force</key><string>20</string><key>armor</key><string>20</string><key>speed</key><string>40</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0036.png</string><key>portraitsname</key><string>Scorpion</string></dict>
<dict><key>type</key><string>8</string><key>name</key><string>Tremor_</string><key>baseimage</key><string>tremor_0001.png</string><key>maxhp</key><string>35</string><key>money</key><string>10</string><key>force</key><string>4</string><key>armor</key><string>8</string><key>speed</key><string>50</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>FALSE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0035.png</string><key>portraitsname</key><string>Tremor</string></dict>
<dict><key>type</key><string>9</string><key>name</key><string>Munra_</string><key>baseimage</key><string>desertMunra_0001.png</string><key>maxhp</key><string>800</string><key>money</key><string>150</string><key>force</key><string>10</string><key>armor</key><string>10</string><key>speed</key><string>20</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0032.png</string><key>portraitsname</key><string>Munra</string></dict>
<dict><key>type</key><string>10</string><key>name</key><string>Executioner_</string><key>baseimage</key><string>desertExecutioner_0001.png</string><key>maxhp</key><string>4000</string><key>money</key><string>800</string><key>force</key><string>0</string><key>armor</key><string>20</string><key>speed</key><string>15</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0031.png</string><key>portraitsname</key><string>Executioner</string></dict>
<dict><key>type</key><string>11</string><key>name</key><string>Canibal_</string><key>baseimage</key><string>Canibal_0001.png</string><key>maxhp</key><string>200</string><key>money</key><string>10</string><key>force</key><string>15</string><key>armor</key><string>0</string><key>speed</key><string>40</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0044.png</string><key>portraitsname</key><string>Cabibal</string></dict>
<dict><key>type</key><string>12</string><key>name</key><string>Gorilla_</string><key>baseimage</key><string>Gorilla_0001.png</string><key>maxhp</key><string>2500</string><key>money</key><string>500</string><key>force</key><string>60</string><key>armor</key><string>0</string><key>speed</key><string>30</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0050.png</string><key>portraitsname</key><string>Gorilla</string></dict>
<dict><key>type</key><string>13</string><key>name</key><string>Hunter_</string><key>baseimage</key><string>CanibalHunter_0001.png</string><key>maxhp</key><string>120</string><key>money</key><string>20</string><key>force</key><string>15</string><key>armor</key><string>0</string><key>speed</key><string>40</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0045.png</string><key>portraitsname</key><string>Hunter</string></dict>
<dict><key>type</key><string>14</string><key>name</key><string>Priest_</string><key>baseimage</key><string>CanibalShamanPriest_0001.png</string><key>maxhp</key><string>480</string><key>money</key><string>50</string><key>force</key><string>30</string><key>armor</key><string>0</string><key>speed</key><string>35</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0046.png</string><key>portraitsname</key><string>Priest</string></dict>
<dict><key>type</key><string>15</string><key>name</key><string>Shaman_</string><key>baseimage</key><string>CanibalShamanMagic_0001.png</string><key>maxhp</key><string>480</string><key>money</key><string>50</string><key>force</key><string>30</string><key>armor</key><string>0</string><key>speed</key><string>35</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0049.png</string><key>portraitsname</key><string>Shaman</string></dict>
<dict><key>type</key><string>16</string><key>name</key><string>Shield_</string><key>baseimage</key><string>CanibalShamanShield_0001.png</string><key>maxhp</key><string>480</string><key>money</key><string>50</string><key>force</key><string>30</string><key>armor</key><string>0</string><key>speed</key><string>35</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0049.png</string><key>portraitsname</key><string>Shield</string></dict>
<dict><key>type</key><string>17</string><key>name</key><string>WingRider_</string><key>baseimage</key><string>CanibalWingRider_0001.png</string><key>maxhp</key><string>480</string><key>money</key><string>50</string><key>force</key><string>30</string><key>armor</key><string>0</string><key>speed</key><string>35</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>FALSE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0052.png</string><key>portraitsname</key><string>WingRider</string></dict>
<dict><key>type</key><string>18</string><key>name</key><string>Blazefang_</string><key>baseimage</key><string>SaurianBlazefang_0001.png</string><key>maxhp</key><string>200</string><key>money</key><string>10</string><key>force</key><string>15</string><key>armor</key><string>10</string><key>speed</key><string>40</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0029.png</string><key>portraitsname</key><string>Blazefang</string></dict>
<dict><key>type</key><string>19</string><key>name</key><string>Broodguard_</string><key>baseimage</key><string>SaurianBroodguard_0001.png</string><key>maxhp</key><string>400</string><key>money</key><string>10</string><key>force</key><string>15</string><key>armor</key><string>10</string><key>speed</key><string>40</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0029.png</string><key>portraitsname</key><string>Broodguard</string></dict>
<dict><key>type</key><string>20</string><key>name</key><string>Elite_</string><key>baseimage</key><string>SaurianElite_0001.png</string><key>maxhp</key><string>1200</string><key>money</key><string>10</string><key>force</key><string>45</string><key>armor</key><string>10</string><key>speed</key><string>40</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0029.png</string><key>portraitsname</key><string>Elite</string></dict>
<dict><key>type</key><string>21</string><key>name</key><string>Myrmidon_</string><key>baseimage</key><string>SaurianMyrmidon_0001.png</string><key>maxhp</key><string>1200</string><key>money</key><string>10</string><key>force</key><string>45</string><key>armor</key><string>10</string><key>speed</key><string>40</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0029.png</string><key>portraitsname</key><string>Myrmidon</string></dict>
<dict><key>type</key><string>22</string><key>name</key><string>Nightscale_</string><key>baseimage</key><string>SaurianNightscale_0001.png</string><key>maxhp</key><string>500</string><key>money</key><string>20</string><key>force</key><string>45</string><key>armor</key><string>10</string><key>speed</key><string>60</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0029.png</string><key>portraitsname</key><string>Nightscale</string></dict>
<dict><key>type</key><string>23</string><key>name</key><string>Quetzal_</string><key>baseimage</key><string>SaurianQuetzal_0001.png</string><key>maxhp</key><string>500</string><key>money</key><string>20</string><key>force</key><string>45</string><key>armor</key><string>10</string><key>speed</key><string>60</string><key>bloodcolor</key><string>green</string><key>attackbysoldier</key><string>FALSE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0029.png</string><key>portraitsname</key><string>Quetzal</string></dict>
<dict><key>type</key><string>100</string><key>name</key><string>Boss_Efreeti_</string><key>baseimage</key><string>Boss_Efreeti_0001.png</string><key>maxhp</key><string>5500</string><key>money</key><string>1500</string><key>force</key><string>50</string><key>armor</key><string>10</string><key>speed</key><string>20</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0040.png</string><key>portraitsname</key><string>Boss_Efreeti</string></dict>
<dict><key>type</key><string>101</string><key>name</key><string>Boss_Canibal_</string><key>baseimage</key><string>CanibalBoos_0001.png</string><key>maxhp</key><string>9999</string><key>money</key><string>1500</string><key>force</key><string>80</string><key>armor</key><string>10</string><key>speed</key><string>20</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0068.png</string><key>portraitsname</key><string>Sun Wukong</string></dict>
<dict><key>type</key><string>201</string><key>name</key><string>Efreeti_</string><key>baseimage</key><string>desertEfreeti_0001.png</string><key>maxhp</key><string>100</string><key>money</key><string>20</string><key>force</key><string>15</string><key>armor</key><string>0</string><key>speed</key><string>50</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0039.png</string><key>portraitsname</key><string>Efreeti</string></dict>
<dict><key>type</key><string>202</string><key>name</key><string>CanibalBoos_Offspring_</string><key>baseimage</key><string>CanibalBoos_Offspring_0001.png</string><key>maxhp</key><string>100</string><key>money</key><string>20</string><key>force</key><string>15</string><key>armor</key><string>0</string><key>speed</key><string>50</string><key>bloodcolor</key><string>red</string><key>attackbysoldier</key><string>TRUE</string><key>attackbytower</key><string>TRUE</string><key>havechildren</key><string>0</string><key>childrentype</key><string>-1</string><key>isfly</key><string>0</string><key>portraitsimagename</key><string>portraits_sc_0067.png</string><key>portraitsname</key><string>Offspring</string></dict>


    </array>
</dict>
</plist>
