<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animation</key>
	<array>

<dict><key>imagename</key><string>tremor_0%03d.png</string><key>from</key><string>1</string><key>to</key><string>14</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Tremor_runleft</string></dict>
<dict><key>imagename</key><string>tremor_0%03d.png</string><key>from</key><string>1</string><key>to</key><string>14</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Tremor_runright</string></dict>
<dict><key>imagename</key><string>tremor_0%03d.png</string><key>from</key><string>15</string><key>to</key><string>28</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Tremor_runup</string></dict>
<dict><key>imagename</key><string>tremor_0%03d.png</string><key>from</key><string>29</string><key>to</key><string>42</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Tremor_rundown</string></dict>
<dict><key>imagename</key><string>tremor_0%03d.png</string><key>from</key><string>83</string><key>to</key><string>95</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Tremor_death</string></dict>
<dict><key>imagename</key><string>tremor_0%03d.png</string><key>from</key><string>43</string><key>to</key><string>61</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Tremor_attack</string></dict>
<dict><key>imagename</key><string>tremor_0%03d.png</string><key>from</key><string>64</string><key>to</key><string>75</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Tremor_out</string></dict>
<dict><key>imagename</key><string>tremor_0%03d.png</string><key>from</key><string>75</string><key>to</key><string>82</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Tremor_in</string></dict>
	</array>
</dict>
</plist>
