<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animation</key>
	<array>

<dict><key>imagename</key><string>SaurianElite_0%03d.png</string><key>from</key><string>1</string><key>to</key><string>21</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Elite_runleft</string></dict>
<dict><key>imagename</key><string>SaurianElite_0%03d.png</string><key>from</key><string>1</string><key>to</key><string>21</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Elite_runright</string></dict>
<dict><key>imagename</key><string>SaurianElite_0%03d.png</string><key>from</key><string>23</string><key>to</key><string>43</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Elite_runup</string></dict>
<dict><key>imagename</key><string>SaurianElite_0%03d.png</string><key>from</key><string>45</string><key>to</key><string>65</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Elite_rundown</string></dict>
<dict><key>imagename</key><string>SaurianElite_0%03d.png</string><key>from</key><string>67</string><key>to</key><string>123</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Elite_attack</string></dict>
<dict><key>imagename</key><string>SaurianElite_0%03d.png</string><key>from</key><string>126</string><key>to</key><string>143</string><key>delay</key><string>0.04f</string><key>animationname</key><string>Elite_death</string></dict>

	</array>
</dict>
</plist>
