<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>soldiers</key>
	<array>

<dict><key>type</key><string>0</string><key>name</key><string>Assassin_</string><key>baseimage</key><string>Soldier_Assassin_0001.png</string><key>level</key><string>1</string><key>maxhp</key><string>150</string><key>force</key><string>14</string><key>armor</key><string>0</string><key>speed</key><string>100</string><key>scope</key><string>50</string><key>attackperiod</key><string>1</string><key>cureperiod</key><string>5</string><key>curepercentage</key><string>0.1</string></dict>
<dict><key>type</key><string>1</string><key>name</key><string>DK_</string><key>baseimage</key><string>NecromancerDeathKnight_0001.png</string><key>level</key><string>1</string><key>maxhp</key><string>250</string><key>force</key><string>30</string><key>armor</key><string>0</string><key>speed</key><string>100</string><key>scope</key><string>50</string><key>attackperiod</key><string>1</string><key>cureperiod</key><string>5</string><key>curepercentage</key><string>0.1</string></dict>
<dict><key>type</key><string>2</string><key>name</key><string>Mecha_</string><key>baseimage</key><string>Mecha_0001.png</string><key>level</key><string>1</string><key>maxhp</key><string>0</string><key>force</key><string>0</string><key>armor</key><string>0</string><key>speed</key><string>100</string><key>scope</key><string>200</string><key>attackperiod</key><string>1.5</string><key>cureperiod</key><string>5</string><key>curepercentage</key><string>0.1</string></dict>
<dict><key>type</key><string>3</string><key>name</key><string>reinforce1</string><key>baseimage</key><string>reinforce_C0_0001.png</string><key>level</key><string>1</string><key>maxhp</key><string>80</string><key>force</key><string>10</string><key>armor</key><string>0</string><key>speed</key><string>100</string><key>scope</key><string>50</string><key>attackperiod</key><string>1</string><key>cureperiod</key><string>5</string><key>curepercentage</key><string>0.1</string></dict>
<dict><key>type</key><string>4</string><key>name</key><string>reinforce2</string><key>baseimage</key><string>reinforce_B0_0001.png</string><key>level</key><string>1</string><key>maxhp</key><string>80</string><key>force</key><string>10</string><key>armor</key><string>0</string><key>speed</key><string>100</string><key>scope</key><string>50</string><key>attackperiod</key><string>1</string><key>cureperiod</key><string>5</string><key>curepercentage</key><string>0.1</string></dict>
<dict><key>type</key><string>5</string><key>name</key><string>skeleton_</string><key>baseimage</key><string>skeleton_0001.png</string><key>level</key><string>1</string><key>maxhp</key><string>50</string><key>force</key><string>5</string><key>armor</key><string>0</string><key>speed</key><string>100</string><key>scope</key><string>50</string><key>attackperiod</key><string>1</string><key>cureperiod</key><string>5</string><key>curepercentage</key><string>0.1</string></dict>
<dict><key>type</key><string>6</string><key>name</key><string>Templar_</string><key>baseimage</key><string>Templar_0002.png</string><key>level</key><string>1</string><key>maxhp</key><string>200</string><key>force</key><string>20</string><key>armor</key><string>0</string><key>speed</key><string>100</string><key>scope</key><string>50</string><key>attackperiod</key><string>1.5</string><key>cureperiod</key><string>5</string><key>curepercentage</key><string>0.1</string></dict>
<dict><key>type</key><string>7</string><key>name</key><string>level%d_barracksSoilder_</string><key>baseimage</key><string>soldier_lvl%d_0001.png</string><key>level</key><string>1</string><key>maxhp</key><string>40</string><key>force</key><string>4</string><key>armor</key><string>0</string><key>speed</key><string>100</string><key>scope</key><string>50</string><key>attackperiod</key><string>1</string><key>cureperiod</key><string>5</string><key>curepercentage</key><string>0.1</string></dict>
<dict><key>type</key><string>7</string><key>name</key><string>level%d_barracksSoilder_</string><key>baseimage</key><string>soldier_lvl%d_0001.png</string><key>level</key><string>2</string><key>maxhp</key><string>80</string><key>force</key><string>8</string><key>armor</key><string>0</string><key>speed</key><string>100</string><key>scope</key><string>50</string><key>attackperiod</key><string>1</string><key>cureperiod</key><string>5</string><key>curepercentage</key><string>0.1</string></dict>
<dict><key>type</key><string>7</string><key>name</key><string>level%d_barracksSoilder_</string><key>baseimage</key><string>soldier_lvl%d_0001.png</string><key>level</key><string>3</string><key>maxhp</key><string>120</string><key>force</key><string>12</string><key>armor</key><string>0</string><key>speed</key><string>100</string><key>scope</key><string>50</string><key>attackperiod</key><string>1</string><key>cureperiod</key><string>5</string><key>curepercentage</key><string>0.1</string></dict>


	</array>
</dict>
</plist>