<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animation</key>
	<array>


<dict><key>id</key><string>1</string><key>imagename</key><string>mage_lvl1_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>12</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level1_mage_shine</string></dict>
<dict><key>id</key><string>2</string><key>imagename</key><string>mage_lvl2_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>12</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level2_mage_shine</string></dict>
<dict><key>id</key><string>3</string><key>imagename</key><string>mage_lvl3_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>12</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level3_mage_shine</string></dict>
<dict><key>id</key><string>4</string><key>imagename</key><string>mage_shooter_00%02d.png</string><key>from</key><string>17</string><key>to</key><string>29</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>mage_shooter_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>mage_shoot_up</string></dict>
<dict><key>id</key><string>5</string><key>imagename</key><string>mage_shooter_00%02d.png</string><key>from</key><string>3</string><key>to</key><string>16</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>mage_shooter_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>mage_shoot_down</string></dict>
<dict><key>id</key><string>6</string><key>imagename</key><string>NecomancerMage_00%02d.png</string><key>from</key><string>32</string><key>to</key><string>62</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>NecomancerMage_0002.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>NecomancerMage_shoot_up</string></dict>
<dict><key>id</key><string>7</string><key>imagename</key><string>NecomancerMage_00%02d.png</string><key>from</key><string>3</string><key>to</key><string>31</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>NecomancerMage_0003.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>NecomancerMage_shoot_down</string></dict>
<dict><key>id</key><string>8</string><key>imagename</key><string>NecromancerDeathKnight_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>6</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>NecromancerDeathKnight_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>DK_run</string></dict>
<dict><key>id</key><string>9</string><key>imagename</key><string>NecromancerDeathKnight_00%02d.png</string><key>from</key><string>7</string><key>to</key><string>23</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>NecromancerDeathKnight_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>DK_attack</string></dict>
<dict><key>id</key><string>10</string><key>imagename</key><string>NecromancerDeathKnight_00%02d.png</string><key>from</key><string>25</string><key>to</key><string>46</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>NecromancerDeathKnight_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>DK_birth</string></dict>
<dict><key>id</key><string>11</string><key>imagename</key><string>NecromancerDeathKnight_00%02d.png</string><key>from</key><string>48</string><key>to</key><string>63</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>DK_death</string></dict>
<dict><key>id</key><string>12</string><key>imagename</key><string>skeleton_00%02d.png</string><key>from</key><string>36</string><key>to</key><string>54</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>skeleton_death</string></dict>
<dict><key>id</key><string>13</string><key>imagename</key><string>skeleton_00%02d.png</string><key>from</key><string>60</string><key>to</key><string>92</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>skeleton_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>skeleton_birth</string></dict>
<dict><key>id</key><string>14</string><key>imagename</key><string>skeleton_00%02d.png</string><key>from</key><string>17</string><key>to</key><string>33</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>skeleton_attack</string></dict>
<dict><key>id</key><string>15</string><key>imagename</key><string>skeleton_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>16</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>skeleton_run</string></dict>
<dict><key>id</key><string>16</string><key>imagename</key><string>NecromancerTowerEffect_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>15</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>NecromancerTower_Effect</string></dict>
<dict><key>id</key><string>17</string><key>imagename</key><string>ArchMageGuy_00%02d.png</string><key>from</key><string>3</string><key>to</key><string>30</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>ArchMageGuy_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>ArchMageGuy_up</string></dict>
<dict><key>id</key><string>18</string><key>imagename</key><string>ArchMageGuy_00%02d.png</string><key>from</key><string>31</string><key>to</key><string>60</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>ArchMageGuy_0002.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>ArchMageGuy_down</string></dict>
<dict><key>id</key><string>19</string><key>imagename</key><string>ArchMageTwister_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>9</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>ArchMageTwister_create</string></dict>
<dict><key>id</key><string>20</string><key>imagename</key><string>ArchMageTwister_00%02d.png</string><key>from</key><string>9</string><key>to</key><string>15</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>ArchMageTwister_twist</string></dict>
<dict><key>id</key><string>21</string><key>imagename</key><string>ArchMageTwister_00%02d.png</string><key>from</key><string>16</string><key>to</key><string>24</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>ArchMageTwister_end</string></dict>
<dict><key>id</key><string>22</string><key>imagename</key><string>proy_archbolt_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>10</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>proy_archbolt</string></dict>
<dict><key>id</key><string>23</string><key>imagename</key><string>tower_archer_lvl1_shooter_00%02d.png</string><key>from</key><string>3</string><key>to</key><string>10</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_archer_lvl1_shooter_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level1_shoot_down</string></dict>
<dict><key>id</key><string>24</string><key>imagename</key><string>tower_archer_lvl2_shooter_00%02d.png</string><key>from</key><string>3</string><key>to</key><string>10</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_archer_lvl2_shooter_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level2_shoot_down</string></dict>
<dict><key>id</key><string>25</string><key>imagename</key><string>tower_archer_lvl3_shooter_00%02d.png</string><key>from</key><string>3</string><key>to</key><string>10</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_archer_lvl3_shooter_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level3_shoot_down</string></dict>
<dict><key>id</key><string>26</string><key>imagename</key><string>tower_archer_lvl3_shooter_00%02d.png</string><key>from</key><string>11</string><key>to</key><string>18</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_archer_lvl3_shooter_0002.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level1_shoot_top</string></dict>
<dict><key>id</key><string>27</string><key>imagename</key><string>tower_archer_lvl3_shooter_00%02d.png</string><key>from</key><string>11</string><key>to</key><string>18</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_archer_lvl3_shooter_0002.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level2_shoot_top</string></dict>
<dict><key>id</key><string>28</string><key>imagename</key><string>tower_archer_lvl3_shooter_00%02d.png</string><key>from</key><string>11</string><key>to</key><string>18</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_archer_lvl3_shooter_0002.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level3_shoot_top</string></dict>
<dict><key>id</key><string>29</string><key>imagename</key><string>tower_artillery_lvl1_layer1_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level1_Artillery_towerBase</string></dict>
<dict><key>id</key><string>30</string><key>imagename</key><string>tower_artillery_lvl2_layer1_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level2_Artillery_towerBase</string></dict>
<dict><key>id</key><string>31</string><key>imagename</key><string>tower_artillery_lvl3_layer1_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level3_Artillery_towerBase</string></dict>
<dict><key>id</key><string>32</string><key>imagename</key><string>tower_artillery_lvl1_layer2_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>17</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level1_Artillery_leftShooter_hold</string></dict>
<dict><key>id</key><string>33</string><key>imagename</key><string>tower_artillery_lvl2_layer2_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>17</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level2_Artillery_leftShooter_hold</string></dict>
<dict><key>id</key><string>34</string><key>imagename</key><string>tower_artillery_lvl3_layer2_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>17</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level3_Artillery_leftShooter_hold</string></dict>
<dict><key>id</key><string>35</string><key>imagename</key><string>tower_artillery_lvl1_layer3_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_artillery_lvl1_layer3_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level1_Artillery_rightShooter</string></dict>
<dict><key>id</key><string>36</string><key>imagename</key><string>tower_artillery_lvl2_layer3_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_artillery_lvl2_layer3_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level2_Artillery_rightShooter</string></dict>
<dict><key>id</key><string>37</string><key>imagename</key><string>tower_artillery_lvl3_layer3_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_artillery_lvl3_layer3_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level3_Artillery_rightShooter</string></dict>
<dict><key>id</key><string>38</string><key>imagename</key><string>tower_artillery_lvl1_layer4_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level1_Artillery_barrel</string></dict>
<dict><key>id</key><string>39</string><key>imagename</key><string>tower_artillery_lvl2_layer4_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level2_Artillery_barrel</string></dict>
<dict><key>id</key><string>40</string><key>imagename</key><string>tower_artillery_lvl3_layer4_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level3_Artillery_barrel</string></dict>
<dict><key>id</key><string>41</string><key>imagename</key><string>tower_artillery_lvl1_layer5_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level1_Artillery_smoke</string></dict>
<dict><key>id</key><string>42</string><key>imagename</key><string>tower_artillery_lvl2_layer5_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level2_Artillery_smoke</string></dict>
<dict><key>id</key><string>43</string><key>imagename</key><string>tower_artillery_lvl3_layer5_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level3_Artillery_smoke</string></dict>
<dict><key>id</key><string>44</string><key>imagename</key><string>tower_artillery_lvl1_layer6_00%02d.png</string><key>from</key><string>18</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_artillery_lvl1_layer6_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level1_Artillery_c4</string></dict>
<dict><key>id</key><string>45</string><key>imagename</key><string>tower_artillery_lvl2_layer6_00%02d.png</string><key>from</key><string>18</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_artillery_lvl2_layer6_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level2_Artillery_c4</string></dict>
<dict><key>id</key><string>46</string><key>imagename</key><string>tower_artillery_lvl3_layer6_00%02d.png</string><key>from</key><string>18</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_artillery_lvl3_layer6_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level3_Artillery_c4</string></dict>
<dict><key>id</key><string>47</string><key>imagename</key><string>tower_artillery_lvl1_layer2_00%02d.png</string><key>from</key><string>18</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_artillery_lvl1_layer2_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level1_Artillery_leftShooter_throw</string></dict>
<dict><key>id</key><string>48</string><key>imagename</key><string>tower_artillery_lvl2_layer2_00%02d.png</string><key>from</key><string>18</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_artillery_lvl2_layer2_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level2_Artillery_leftShooter_throw</string></dict>
<dict><key>id</key><string>49</string><key>imagename</key><string>tower_artillery_lvl3_layer2_00%02d.png</string><key>from</key><string>18</string><key>to</key><string>35</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_artillery_lvl3_layer2_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>level3_Artillery_leftShooter_throw</string></dict>
<dict><key>id</key><string>50</string><key>imagename</key><string>explosion_air_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>17</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>bomb</string></dict>
<dict><key>id</key><string>51</string><key>imagename</key><string>states_small_00%02d.png</string><key>from</key><string>22</string><key>to</key><string>32</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>explosion_Artillery</string></dict>
<dict><key>id</key><string>52</string><key>imagename</key><string>soldier_lvl1_00%02d.png</string><key>from</key><string>2</string><key>to</key><string>6</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level1_barracksSoilder_run</string></dict>
<dict><key>id</key><string>53</string><key>imagename</key><string>soldier_lvl2_00%02d.png</string><key>from</key><string>2</string><key>to</key><string>6</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level2_barracksSoilder_run</string></dict>
<dict><key>id</key><string>54</string><key>imagename</key><string>soldier_lvl3_00%02d.png</string><key>from</key><string>2</string><key>to</key><string>6</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level3_barracksSoilder_run</string></dict>
<dict><key>id</key><string>55</string><key>imagename</key><string>Soldier_Assassin_00%02d.png</string><key>from</key><string>2</string><key>to</key><string>6</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Assassin_run</string></dict>
<dict><key>id</key><string>56</string><key>imagename</key><string>Templar_00%02d.png</string><key>from</key><string>3</string><key>to</key><string>7</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Templar_run</string></dict>
<dict><key>id</key><string>57</string><key>imagename</key><string>soldier_lvl1_00%02d.png</string><key>from</key><string>7</string><key>to</key><string>17</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level1_barracksSoilder_attack</string></dict>
<dict><key>id</key><string>58</string><key>imagename</key><string>soldier_lvl2_00%02d.png</string><key>from</key><string>7</string><key>to</key><string>17</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level2_barracksSoilder_attack</string></dict>
<dict><key>id</key><string>59</string><key>imagename</key><string>soldier_lvl3_00%02d.png</string><key>from</key><string>7</string><key>to</key><string>17</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level3_barracksSoilder_attack</string></dict>
<dict><key>id</key><string>60</string><key>imagename</key><string>Soldier_Assassin_00%02d.png</string><key>from</key><string>7</string><key>to</key><string>17</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Assassin_attack</string></dict>
<dict><key>id</key><string>61</string><key>imagename</key><string>Templar_00%02d.png</string><key>from</key><string>7</string><key>to</key><string>36</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Templar_attack</string></dict>
<dict><key>id</key><string>62</string><key>imagename</key><string>soldier_lvl1_00%02d.png</string><key>from</key><string>18</string><key>to</key><string>23</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level1_barracksSoilder_dead</string></dict>
<dict><key>id</key><string>63</string><key>imagename</key><string>soldier_lvl2_00%02d.png</string><key>from</key><string>18</string><key>to</key><string>23</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level2_barracksSoilder_dead</string></dict>
<dict><key>id</key><string>64</string><key>imagename</key><string>soldier_lvl3_00%02d.png</string><key>from</key><string>18</string><key>to</key><string>23</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level3_barracksSoilder_dead</string></dict>
<dict><key>id</key><string>65</string><key>imagename</key><string>Soldier_Assassin_00%02d.png</string><key>from</key><string>69</string><key>to</key><string>76</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Assassin_dead</string></dict>
<dict><key>id</key><string>66</string><key>imagename</key><string>Templar_00%02d.png</string><key>from</key><string>94</string><key>to</key><string>103</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Templar_dead</string></dict>
<dict><key>id</key><string>67</string><key>imagename</key><string>Soldier_Assassin_00%02d.png</string><key>from</key><string>19</string><key>to</key><string>43</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Assassin_skill1</string></dict>
<dict><key>id</key><string>68</string><key>imagename</key><string>Soldier_Assassin_00%02d.png</string><key>from</key><string>44</string><key>to</key><string>69</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Assassin_skill2</string></dict>
<dict><key>id</key><string>69</string><key>imagename</key><string>Templar_00%02d.png</string><key>from</key><string>61</string><key>to</key><string>94</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Templar_skill1</string></dict>
<dict><key>id</key><string>70</string><key>imagename</key><string>Templar_00%02d.png</string><key>from</key><string>36</string><key>to</key><string>60</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Templar_skill2</string></dict>
<dict><key>id</key><string>71</string><key>imagename</key><string>tower_barracks_lvl1_layer2_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>25</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level1_barracks_opendoor</string></dict>
<dict><key>id</key><string>72</string><key>imagename</key><string>tower_barracks_lvl2_layer2_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>25</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level2_barracks_opendoor</string></dict>
<dict><key>id</key><string>73</string><key>imagename</key><string>tower_barracks_lvl3_layer2_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>25</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level3_barracks_opendoor</string></dict>
<dict><key>id</key><string>74</string><key>imagename</key><string>tower_assasins_layer2_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>24</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level4_barracks_opendoor</string></dict>
<dict><key>id</key><string>75</string><key>imagename</key><string>tower_templars_layer2_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>4</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level5_barracks_opendoor</string></dict>
<dict><key>id</key><string>76</string><key>imagename</key><string>TemplarTower_Fire_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>11</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>level5_barracks_fire</string></dict>
<dict><key>id</key><string>77</string><key>imagename</key><string>EarthquakeTower_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>25</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>EarthquakeTower_operation_down</string></dict>
<dict><key>id</key><string>78</string><key>imagename</key><string>EarthquakeTower_00%02d.png</string><key>from</key><string>26</string><key>to</key><string>50</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>EarthquakeTower_operation_up</string></dict>
<dict><key>id</key><string>79</string><key>imagename</key><string>EarthquakeTower_00%02d.png</string><key>from</key><string>67</string><key>to</key><string>102</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>EarthquakeTower_drilling</string></dict>
<dict><key>id</key><string>80</string><key>imagename</key><string>EarthquakeTower_Glow_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>25</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>EarthquakeTower_glow</string></dict>
<dict><key>id</key><string>81</string><key>imagename</key><string>EarthquakeTower_lights_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>8</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>EarthquakeTower_lights_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>EarthquakeTower_light</string></dict>
<dict><key>id</key><string>82</string><key>imagename</key><string>EarthquakeTower_drill_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>25</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>EarthquakeTower_drill</string></dict>
<dict><key>id</key><string>83</string><key>imagename</key><string>EarthquakeTower_HitSmoke_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>15</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>EarthquakeTower_hitsmoke</string></dict>
<dict><key>id</key><string>84</string><key>imagename</key><string>tower_mechs_layer2_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>45</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>MechsTower_layer2</string></dict>
<dict><key>id</key><string>85</string><key>imagename</key><string>tower_mechs_layer3_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>8</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>MechsTower_layer3</string></dict>
<dict><key>id</key><string>86</string><key>imagename</key><string>tower_mechs_layer4_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>8</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>MechsTower_layer4</string></dict>
<dict><key>id</key><string>87</string><key>imagename</key><string>tower_mechs_layer4_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>27</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>MechsTower_layer6</string></dict>
<dict><key>id</key><string>88</string><key>imagename</key><string>tower_mechs_layer7_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>27</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>MechsTower_layer7</string></dict>
<dict><key>id</key><string>89</string><key>imagename</key><string>tower_mechs_layer8_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>42</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>MechsTower_layer8</string></dict>
<dict><key>id</key><string>90</string><key>imagename</key><string>tower_mechs_layer9_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>23</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>tower_mechs_layer9_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>MechsTower_layer9</string></dict>
<dict><key>id</key><string>91</string><key>imagename</key><string>tower_mechs_layer3_00%02d.png</string><key>from</key><string>8</string><key>to</key><string>1</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>3</string><key>animationname</key><string>MechsTower_layer3_r</string></dict>
<dict><key>id</key><string>92</string><key>imagename</key><string>tower_mechs_layer4_00%02d.png</string><key>from</key><string>8</string><key>to</key><string>1</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>3</string><key>animationname</key><string>MechsTower_layer4_r</string></dict>
<dict><key>id</key><string>93</string><key>imagename</key><string>Mecha_00%02d.png</string><key>from</key><string>1</string><key>to</key><string>21</string><key>delay</key><string>0.03f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Mecha_walk</string></dict>
<dict><key>id</key><string>94</string><key>imagename</key><string>Mecha_00%02d.png</string><key>from</key><string>24</string><key>to</key><string>68</string><key>delay</key><string>0.03f</string><key>lastimagename</key><string>Mecha_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>Mecha_attack</string></dict>
<dict><key>id</key><string>95</string><key>imagename</key><string>Mecha_0%03d.png</string><key>from</key><string>75</string><key>to</key><string>105</string><key>delay</key><string>0.03f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Mecha_shoot</string></dict>
<dict><key>id</key><string>96</string><key>imagename</key><string>Mecha_0%03d.png</string><key>from</key><string>106</string><key>to</key><string>143</string><key>delay</key><string>0.03f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Mecha_shit</string></dict>
<dict><key>id</key><string>97</string><key>imagename</key><string>Mecha_Shitting_0%03d.png</string><key>from</key><string>122</string><key>to</key><string>143</string><key>delay</key><string>0.03f</string><key>lastimagename</key><string>Mecha_Shitting_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>Mecha_shitting</string></dict>
<dict><key>id</key><string>98</string><key>imagename</key><string>mech_missile_0%03d.png</string><key>from</key><string>106</string><key>to</key><string>143</string><key>delay</key><string>0.03f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>Mecha_missile</string></dict>
<dict><key>id</key><string>99</string><key>imagename</key><string>CossbowHunter_shooter_0%03d.png</string><key>from</key><string>2</string><key>to</key><string>14</string><key>delay</key><string>0.02f</string><key>lastimagename</key><string>CossbowHunter_shooter_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>CossbowHunter_shooter_down</string></dict>
<dict><key>id</key><string>100</string><key>imagename</key><string>CossbowHunter_shooter_0%03d.png</string><key>from</key><string>17</string><key>to</key><string>31</string><key>delay</key><string>0.02f</string><key>lastimagename</key><string>CossbowHunter_shooter_0017.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>CossbowHunter_shooter_up</string></dict>
<dict><key>id</key><string>101</string><key>imagename</key><string>CossbowHunter_shooter_0%03d.png</string><key>from</key><string>56</string><key>to</key><string>71</string><key>delay</key><string>0.02f</string><key>lastimagename</key><string>CossbowHunter_shooter_0017.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>CossbowHunter_shooter_skill_up</string></dict>
<dict><key>id</key><string>102</string><key>imagename</key><string>CossbowHunter_shooter_0%03d.png</string><key>from</key><string>34</string><key>to</key><string>53</string><key>delay</key><string>0.02f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>CossbowHunter_shooter_skill_down</string></dict>
<dict><key>id</key><string>103</string><key>imagename</key><string>CossbowHunter_hawk_0%03d.png</string><key>from</key><string>1</string><key>to</key><string>145</string><key>delay</key><string>0.05f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>CossbowHunter_hawk</string></dict>
<dict><key>id</key><string>104</string><key>imagename</key><string>TotemTower_EyesDown_0%03d.png</string><key>from</key><string>1</string><key>to</key><string>25</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string></string><key>animationname</key><string>TotemTower_EyesDown</string></dict>
<dict><key>id</key><string>105</string><key>imagename</key><string>TotemTower_Shooter_0%03d.png</string><key>from</key><string>1</string><key>to</key><string>16</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>TotemTower_Shooter_0001.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>TotemTower_Shooter_down</string></dict>
<dict><key>id</key><string>106</string><key>imagename</key><string>TotemTower_Shooter_0%03d.png</string><key>from</key><string>23</string><key>to</key><string>44</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string>TotemTower_Shooter_0023.png</string><key>functiontype</key><string>2</string><key>animationname</key><string>TotemTower_Shooter_up</string></dict>
<dict><key>id</key><string>107</string><key>imagename</key><string>TotemTower_RedTotem_0%03d.png</string><key>from</key><string>1</string><key>to</key><string>29</string><key>delay</key><string>0.04f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>TotemTower_RedTotem</string></dict>
<dict><key>id</key><string>108</string><key>imagename</key><string>TotemTower_VioletTotem_0%03d.png</string><key>from</key><string>1</string><key>to</key><string>29</string><key>delay</key><string>0.1f</string><key>lastimagename</key><string></string><key>functiontype</key><string>1</string><key>animationname</key><string>TotemTower_VioletTotem</string></dict>

    </array>
</dict>
</plist>
